@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

nav {
    /* border-bottom: 1px solid rgb(236, 239, 241); */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 24px 50px 0px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 1.75rem 0.5rem;
    cursor: pointer;
}

nav ul li.nav-items {
    position: relative;
    width: auto;
    margin: 0 0 0 1.75rem;
    text-align: center;
    order: 3;
}

nav ul li.nav-items:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background: #4bb941;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li a {
    color: #000000;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;
}

nav ul li:hover a {
    color: #4bb941;
}

nav ul li i {
    font-size: 30px;
}

nav ul li.btn {
    display: none;
}

#navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 7.5rem;
    min-height: 20rem;
    border-top: 1px solid rgb(236, 239, 241);
}

footer p {
    text-decoration: none;
    color: #4bb941;
    font-size: 16px;
}

footer div {
    padding: 0.25rem 0rem;
}

p {
    color: #494949;
    width: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

h4 {
    color: #494949;
    font-size: 24px;
}

:-webkit-any(article,
aside,
nav,
section) :-webkit-any(article,
aside,
nav,
section) h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.nav-bar {
    padding: 0rem 2.75rem;
}

.logo-img {
    padding-top: 0.15rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
}

.header-section {
    min-width: 1920px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/woman-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 45%;
    justify-content: flex-end;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 4px;
}

.hero-header {
    max-width: 900px;
    text-align: center;
}

.hero-header h1 {
    color: #ffffff;
    font-size: 72px;
}

.hero-header h4 {
    color: #ffffff;
    font-weight: 500;
    padding: 1rem 0 7.5rem 0;
}

.section {
    max-width: 1400px;
    padding: 5rem 3rem;
}

.section a:link {
    color: #4bb941;
}

.section a:visited {
    color: #429337;
}

.images {
    padding: 0rem 2rem;
}

.section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
}

.section-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 4px;
}

.section-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
    padding: 4rem 0rem;
    margin: 7.5rem 0rem;
    background: #efefef;
}

.coming-soon p {
    text-align: center;
    color: #4bb941;
    font-size: 60px;
    font-weight: 500;
}

.heading {
    font-size: 48px;
    color: #4bb941;
    padding-bottom: 0.5rem;
}

.header-black-txt {
    color: #494949;
}

.heading-content {
    font-weight: 200;
    font-size: 18px;
}


/*
PUBLICATIONS HTML
*/

.main-header-section {
    width: 100vw;
    margin-top: 83px;
    padding: 15.2rem 0rem 10rem 0rem;
    text-align: center;
    background: #efefef;
    margin-bottom: 5rem;
}

.main-hero-header h1 {
    font-size: 72px;
    color: #4bb941;
}

.main-hero-header h4 {
    font-size: 40px;
    color: #000000;
}

.article-heading {
    background: #429337;
    text-align: center;
    max-width: 1200px;
    border-radius: 4px;
    padding: 5rem 7.5rem;
}

.article-heading h1 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
}

.article-heading h1 cite a {
    font-style: normal;
}

.article-heading h1 cite a:link {
    color: #ffffff;
}

.article-heading h1 cite a:visited {
    color: #ffffff;
}

.prosperity-subheading {
    font-size: 22px;
    color: #efefef;
    font-style: italic;
    padding: 0.5rem 0rem;
}

.prosperity-details {
    font-size: 16px;
    color: #efefef;
    padding-top: 1.5rem;
    line-height: 1.25rem;
}

.article-content {
    margin-top: -1.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.interview-content {
    max-width: 1200px;
    padding: 0rem 2.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.interview-content p {
    padding: 0.5rem 0rem;
}

.interview-content a:link {
    color: #4bb941;
}

.interview-content a:visited {
    color: #429337;
}

.bold-letters {
    font-weight: 700;
    padding: 0.5rem 0rem;
}


/* CONTACT US */

.contact-heading {
    background-color: #494949;
    text-align: center;
    border-radius: 4px;
    margin: 7.5rem 0rem;
    padding: 5rem 7.5rem;
}

.contact-heading h1,
.contact-heading p {
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
}

.article-main {
    margin-top: -83px;
}

.contact-section {
    margin: 5% 0rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 375px) and (min-width: 250px) {
    nav ul li a {
        font-size: 1rem;
        width: 100%;
    }
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    nav ul li.logo {
        flex: 1;
    }
    .nav-bar {
        padding: 0rem 1rem;
    }
    .nav-items {
        padding: 0.5rem;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .logo-img {
        height: 18px;
    }
    .header-section {
        height: 99vh;
    }
    .hero-header {
        max-width: 375px;
        padding: 1.75rem;
        text-align: center;
        background-size: contain;
        align-items: flex-end;
    }
    .hero-header h1 {
        color: #ffffff;
        font-size: 40px;
        padding: 0rem;
    }
    .hero-header h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0rem;
    }
    .section {
        max-width: 350px;
        padding: 0.25rem 1rem;
    }
    .images {
        padding: 1rem 2.5rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .heading {
        font-size: 36px;
        color: #4bb941;
        padding-bottom: 0.5rem;
    }
    .heading-content {
        font-weight: 100;
        font-size: 16px;
        text-align: justify;
        text-justify: inter-word;
    }
    .section-2 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-3 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-4 {
        width: 75%;
        box-shadow: none;
        margin-top: 2.5rem;
        background-color: #ffffff;
        margin: 2rem;
    }
    .section-4 img {
        width: 400px;
    }
    .coming-soon p {
        font-size: 36px;
    }
    /* PUBLICATIONS QUERY */
    .main-header-section {
        width: 100vw;
        margin-top: 83px;
        padding: 10rem 0rem 5rem 0rem;
        text-align: center;
        background: #efefef;
        margin-bottom: 5rem;
    }
    .main-hero-header h1 {
        font-size: 40px;
        color: #4bb941;
    }
    .main-hero-header h4 {
        font-size: 22px;
        color: #000000;
    }
    .prosperity-subheading {
        max-width: 250px;
        font-size: 15px
    }
    .prosperity-details {
        font-size: 12px;
    }
    .article-heading {
        text-align: center;
        max-width: 1200px;
        border-radius: 0;
        padding: 2rem;
    }
    .article-heading h1 {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
    .article-content {
        margin-top: 0;
        box-shadow: none;
    }
    .interview-content {
        padding: 1rem 0rem;
    }
    .interview-content p {
        padding: 0.5rem 0rem;
    }
    /* CONTACT US */
    .contact-heading {
        margin: 5rem 0rem;
        padding: 2.55rem 5rem;
    }
    .contact-heading h1,
    .contact-heading p {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
}

@media screen and (max-width: 575.98px) and (min-width: 376px) {
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    nav ul li.logo {
        flex: 1;
    }
    .nav-bar {
        padding: 0rem 1rem;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .header-section {
        height: 99vh;
    }
    .hero-header {
        max-width: 376px;
        padding: 1.75rem;
        text-align: center;
        background-size: contain;
        align-items: flex-end;
    }
    .hero-header h1 {
        color: #ffffff;
        font-size: 40px;
        padding: 0rem;
    }
    .hero-header h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0rem;
    }
    .section {
        max-width: 376px;
        padding: 1rem;
    }
    .images {
        padding: 1rem 2.5rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .heading {
        font-size: 36px;
        color: #4bb941;
        padding-bottom: 0.5rem;
    }
    .heading-content {
        font-weight: 100;
        font-size: 16px;
        text-align: justify;
        text-justify: inter-word;
    }
    .section-2 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-3 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-4 {
        width: 75%;
        box-shadow: none;
        margin-top: 2.5rem;
        background-color: #ffffff;
        margin: 2rem;
    }
    .section-4 img {
        width: 400px;
    }
    .coming-soon p {
        font-size: 36px;
    }
    /* PUBLICATIONS QUERY */
    .main-header-section {
        width: 100vw;
        margin-top: 83px;
        padding: 10rem 0rem 5rem 0rem;
        text-align: center;
        background: #efefef;
        margin-bottom: 5rem;
    }
    .main-hero-header h1 {
        font-size: 40px;
        color: #4bb941;
    }
    .main-hero-header h4 {
        font-size: 22px;
        color: #000000;
    }
    .prosperity-subheading {
        max-width: 250px;
        font-size: 15px
    }
    .prosperity-details {
        font-size: 12px;
    }
    .article-heading {
        text-align: center;
        max-width: 1200px;
        border-radius: 0;
        padding: 2rem;
    }
    .article-heading h1 {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
    .article-content {
        margin-top: 0;
        box-shadow: none;
    }
    .interview-content {
        padding: 1rem 0.25rem;
    }
    .interview-content p {
        padding: 0.5rem 0rem;
    }
    /* CONTACT US */
    .contact-heading {
        margin: 5rem 0rem;
        padding: 2.55rem 5rem;
    }
    .contact-heading h1,
    .contact-heading p {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) and (min-width: 576px) {
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    nav ul li.logo {
        flex: 1;
    }
    .nav-bar {
        padding: 0rem 1rem;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .header-section {
        height: 75vh;
    }
    .hero-header {
        max-width: 700px;
        padding: 1.75rem;
        text-align: center;
        background-size: contain;
        align-items: flex-end;
    }
    .hero-header h1 {
        color: #ffffff;
        font-size: 40px;
        padding: 0rem;
    }
    .hero-header h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0rem;
    }
    .section {
        max-width: 700px;
        padding: 2rem 1rem;
    }
    .images {
        padding: 1rem 2.5rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .heading {
        font-size: 36px;
        color: #4bb941;
        padding-bottom: 0.5rem;
    }
    .heading-content {
        font-weight: 100;
        font-size: 16px;
        text-align: justify;
        text-justify: inter-word;
    }
    .section-2 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-3 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-4 {
        width: 75%;
        box-shadow: none;
        margin-top: 2.5rem;
        background-color: #ffffff;
        margin: 2rem;
    }
    .section-4 img {
        width: 400px;
    }
    .coming-soon p {
        font-size: 36px;
    }
    /* PUBLICATIONS QUERY */
    .main-header-section {
        width: 100vw;
        margin-top: 83px;
        padding: 10rem 0rem 5rem 0rem;
        text-align: center;
        background: #efefef;
        margin-bottom: 5rem;
    }
    .main-hero-header h1 {
        font-size: 40px;
        color: #4bb941;
    }
    .main-hero-header h4 {
        font-size: 22px;
        color: #000000;
    }
    .prosperity-subheading {
        max-width: 250px;
        font-size: 15px
    }
    .prosperity-details {
        font-size: 12px;
    }
    .article-heading {
        text-align: center;
        max-width: 1200px;
        border-radius: 0;
        padding: 2rem;
    }
    .article-heading h1 {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
    .article-content {
        margin-top: 0;
        box-shadow: none;
    }
    .interview-content {
        padding: 1rem 0.25rem;
    }
    .interview-content p {
        padding: 0.5rem 0rem;
    }
    /* CONTACT US */
    .contact-heading {
        margin: 5rem 0rem;
        padding: 2.55rem 5rem;
    }
    .contact-heading h1,
    .contact-heading p {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) and (min-width: 768px) {
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    nav ul li.logo {
        flex: 1;
    }
    .nav-bar {
        padding: 0rem 1rem;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .header-section {
        height: 75vh;
    }
    .hero-header {
        max-width: 768px;
        padding: 1.75rem;
        text-align: center;
        background-size: contain;
        align-items: flex-end;
    }
    .hero-header h1 {
        color: #ffffff;
        font-size: 40px;
        padding: 0rem;
    }
    .hero-header h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0rem;
    }
    .section {
        max-width: 768px;
        padding: 2rem;
    }
    .images {
        padding: 1rem 2.5rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .heading {
        font-size: 36px;
        color: #4bb941;
        padding-bottom: 0.5rem;
    }
    .heading-content {
        font-weight: 100;
        font-size: 16px;
        text-align: justify;
        text-justify: inter-word;
    }
    .section-2 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-3 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-4 {
        width: 75%;
        box-shadow: none;
        margin-top: 2.5rem;
        background-color: #ffffff;
        margin: 2rem;
    }
    .section-4 img {
        width: 400px;
    }
    .coming-soon p {
        font-size: 36px;
    }
    /* PUBLICATIONS QUERY */
    .main-header-section {
        width: 100vw;
        margin-top: 83px;
        padding: 10rem 0rem 5rem 0rem;
        text-align: center;
        background: #efefef;
        margin-bottom: 5rem;
    }
    .main-hero-header h1 {
        font-size: 40px;
        color: #4bb941;
    }
    .main-hero-header h4 {
        font-size: 22px;
        color: #000000;
    }
    .article-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 1200px;
        border-radius: 0;
        padding: 2rem;
    }
    .article-heading h1 {
        font-size: 36px;
        color: #ffffff;
        font-weight: 500;
    }
    .prosperity-subheading {
        align-self: center;
        max-width: 350px;
        font-size: 20px
    }
    .prosperity-details {
        font-size: 16px;
    }
    .article-content {
        margin-top: -1rem;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    .interview-content {
        padding: 1rem 0.25rem;
    }
    .interview-content p {
        padding: 0.5rem 0rem;
    }
    /* CONTACT US */
    .contact-heading {
        margin: 5rem 0rem;
        padding: 2.55rem 5rem;
    }
    .contact-heading h1,
    .contact-heading p {
        font-size: 24px;
        color: #ffffff;
        font-weight: 500;
    }
}


/* Large devices (desktops, less than 1200px) */


/* @media (max-width: 1199.98px) {
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    nav ul li.logo {
        flex: 1;
    }
    .nav-bar {
        padding: 0rem 1rem;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .header-section {
        height: 75vh;
    }
    .hero-header {
        max-width: 900px;
        padding: 1.75rem;
        text-align: center;
        background-size: contain;
        align-items: flex-end;
    }
    .hero-header h1 {
        color: #ffffff;
        font-size: 40px;
        padding: 0rem;
    }
    .hero-header h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0rem;
    }
    .section {
        max-width: 900px;
        padding: 2rem;
    }
    .images {
        padding: 1rem 2.5rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .heading {
        font-size: 36px;
        color: #4bb941;
        padding-bottom: 0.5rem;
    }
    .heading-content {
        font-weight: 100;
        font-size: 16px;
        text-align: justify;
        text-justify: inter-word;
    }
    .section-2 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-3 {
        flex-direction: column;
        box-shadow: none;
        margin-top: 2.5rem;
    }
    .section-4 {
        width: 75%;
        box-shadow: none;
        margin-top: 2.5rem;
        background-color: #ffffff;
        margin: 2rem;
    }
    .section-4 img {
        width: 400px;
    }
    .coming-soon p {
        font-size: 36px;
    }
} */