@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
}

header {
    /* margin: 0 0 5rem 0; */
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
    padding: 0 0.10rem;
}

main p {
    font-size: 18px;
}

header,
main,
footer {
    flex-shrink: 0;
}

footer p {
    text-decoration: none;
    color: #4bb941;
    font-size: 16px;
}

nav {
    border-bottom: 1px solid rgb(236, 239, 241);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 1.25rem 0;
    cursor: pointer;
}

nav ul li.nav-items {
    position: relative;
    width: auto;
    margin: 0 0 0 1.75rem;
    text-align: center;
    order: 3;
}

nav ul li.nav-items:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background: #4bb941;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.logo {
    flex: 1;
    margin-top: 2px;
}

nav ul li a {
    color: #494949;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;
}

nav ul li:hover a {
    color: #4bb941;
}

nav ul li i {
    font-size: 30px;
}

nav ul li.btn {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    min-height: 20rem;
    border-top: 1px solid rgb(236, 239, 241);
}

p {
    color: #494949;
    width: auto;
}

h4 {
    color: #494949;
    font-size: 24px;
}

cite {
    font-style: normal;
}

.nav-bar {
    padding: 0.25rem 2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.header-section {
    display: flex;
    width: 100%;
    height: 75vh;
    background-image: url('../assets/images/TZTImg01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    justify-content: center;
    text-align: center;
}

.hero-header {
    align-self: flex-end;
    margin-bottom: 5%;
}

.hero-header h4 {
    color: #ffffff;
    font-weight: 300;
    padding: 2rem;
}

.heading {
    font-size: 60px;
    color: #ffffff;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 2rem;
}

.section-1 p {
    padding-top: 1rem;
}

.section-1-mobile {
    display: none;
}

.heading-1-content {
    font-weight: 200;
    font-size: 22px;
}

.prosperity-heading {
    width: 100vw;
    text-align: center;
    margin-top: 5rem;
}

.prosperity-paradox {
    background-color: #4bb941;
    padding: 5rem 0 0 0;
}

.prosperity-paradox h1 {
    font-size: 76px;
    color: #ffffff;
}

.prosperity-paradox-subheading {
    font-size: 34px;
    font-weight: 200;
    color: #ffffff;
    font-style: italic;
}

.prosperity-paradox-details {
    font-size: 20px;
    font-weight: 100;
    color: #494949;
    line-height: 1.5rem;
    padding: 2.5rem 0;
}

.interview-content p {
    padding: .5rem;
}

.bold-letters {
    font-weight: 700;
}

.separator {
    color: #4bb941;
}

.poverty-statement a:link {
    color: #4bb941;
}

.poverty-statement a:visited {
    color: #429337
}

.coming-soon {
    margin-top: 5rem;
    /* background-color: #88e608; */
    width: 100vw;
}

.coming-soon p {
    padding: 3.5rem;
    text-align: center;
    color: #4bb941;
    font-size: 60px;
    font-weight: 500;
}


/* MEDIA QUERIES */

@media screen and (max-width:407px) {
    #navbar {
        padding: 0.75rem 1rem;
    }
    nav ul li {
        padding: 0.5rem 0;
    }
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    h4 {
        font-size: 21px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .logo-img {
        height: 14px;
    }
    .heading-1-desktop {
        display: none;
    }
    .main {
        margin-top: 2rem;
    }
    .heading-1-content {
        font-size: 18px;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 1rem;
    }
    .section-1-mobile {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        align-items: center;
    }
    .section-1-mobile h1 {
        font-size: 42px;
        padding: 0 0 1.25rem 0;
    }
    .section-1-mobile img {
        width: 225px;
    }
    .section-1-image {
        display: none;
    }
    .coming-soon {
        /* margin: 5rem 0; */
        background-color: #7ddb31;
        width: 100vw;
        margin: 5rem 0 2.5rem 0;
    }
    .coming-soon p {
        padding: 2.5rem;
        text-align: center;
        color: #ffffff;
        font-size: 36px;
        font-weight: 500;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
    }
    .footer-img {
        width: 200px;
    }
}

@media screen and (max-width: 768px) and (min-width: 408px) {
    #navbar {
        padding: 0.75rem 1rem;
    }
    nav ul li {
        padding: 0.5rem 0;
    }
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    h4 {
        font-size: 24px;
    }
    footer {
        margin-top: 5rem;
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .main {
        margin-top: 2rem;
    }
    .logo-img {
        height: 15px;
    }
    .heading-1-desktop {
        display: none;
    }
    .section-1-mobile h1 {
        font-size: 46px;
    }
    .heading-1-content {
        font-size: 18px;
        max-width: 575px;
    }
    .items {
        padding: 0rem;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 1.5rem;
    }
    .section-1 p {
        padding-top: 0;
    }
    .section-1-mobile {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        align-items: center;
    }
    .section-1-mobile img {
        width: 325px;
    }
    .section-1-image {
        display: none;
    }
    .coming-soon {
        /* margin: 5rem 0; */
        background-color: #7ddb31;
        width: 100vw;
        margin: 5rem 0 2.5rem 0;
    }
    .coming-soon p {
        padding: 3rem;
        text-align: center;
        color: #ffffff;
        font-size: 42px;
        font-weight: 500;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
    }
    .footer-img {
        width: 200px;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    #navbar {
        padding: 0.75rem 1rem;
    }
    nav ul li {
        padding: 0.5rem 0;
    }
    nav ul li.nav-items {
        width: 100%;
        display: none;
        margin: 0;
    }
    nav ul li.nav-items.show {
        display: block;
    }
    nav ul li.btn {
        display: block;
    }
    nav ul li.nav-items:hover:after {
        opacity: 0;
    }
    header {
        margin: 0 0 .5rem 0;
    }
    main p {
        font-size: 16px;
    }
    p {
        font-size: 16px;
        padding: 0.75rem 0 0 0;
    }
    h4 {
        font-size: 24px;
        margin-top: 0.25rem;
    }
    footer {
        min-height: 12rem;
    }
    footer p {
        font-size: 14px;
    }
    .main {
        margin-top: 2.5rem;
    }
    .heading {
        font-size: 48px;
    }
    .heading-1-desktop {
        display: none;
    }
    .section-1-mobile h1 {
        font-size: 46px;
    }
    .heading-1-content {
        font-size: 18px;
        max-width: 575px;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 1.5rem;
    }
    .section-1 p {
        padding-top: 0;
    }
    .section-1-mobile {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        align-items: center;
    }
    .section-1-mobile img {
        width: 325px;
    }
    .section-1-image {
        display: none;
    }
    .images {
        width: 300px;
    }
    .coming-soon {
        /* margin: 5rem 0; */
        background-color: #7ddb31;
        width: 100vw;
        margin: 5rem 0 2.5rem 0;
    }
    .coming-soon p {
        padding: 3.5rem;
        text-align: center;
        color: #ffffff;
        font-size: 48px;
        font-weight: 500;
    }
}